#container{
    height: 75%;
    width: 75%;
    display: flex;
    
    position: relative;
    margin: 0 auto;
    align-items: stretch;
   
   

}
.gridsquare{
   flex-grow: 1;
}
.row{
    flex: 1;
    
    
    
}